<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <!-- App Favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App title -->
        <title>Leave Status</title>


        <!-- DataTables -->
        <link href="{% static 'assets/plugins/datatables/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/plugins/datatables/buttons.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/plugins/datatables/fixedHeader.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/plugins/datatables/responsive.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/plugins/datatables/scroller.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />


        <!-- App CSS -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/pages.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/menu.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

         <script src="{% static 'assets/js/modernizr.min.js' %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74137680-1', 'auto');
  ga('send', 'pageview');

</script>


         <script>
                    var addSerialNumber = function () {
        var i = 1
        $('table tr').each(function(index) {
            $(this).find('td:nth-child(1)').html(index+1);
        });
    };

    addSerialNumber();
        </script>



    </head>


<body class="fixed-left">

       <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a  class="logo"><span>Leave<span>Manager</span></span><i class="zmdi zmdi-layers"></i></a>
                </div>

                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">

                        <!-- Page title -->
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <button class="button-menu-mobile open-left">
                                    <i class="zmdi zmdi-menu"></i>
                                </button>
                            </li>
                            <li>
                                <h4 class="page-title"></h4>
                            </li>
                        </ul>

                        <!-- Right(Notification and Searchbox -->
                        <ul class="nav navbar-nav navbar-right">
{#                            <li>#}
{#                                <!-- Notification -->#}
{#                                <div class="notification-box">#}
{#                                    <ul class="list-inline m-b-0">#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" class="right-bar-toggle">#}
{#                                                <i class="zmdi zmdi-notifications-none"></i>#}
{#                                            </a>#}
{#                                            <div class="noti-dot">#}
{#                                                <span class="dot"></span>#}
{#                                                <span class="pulse"></span>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                                <!-- End Notification bar -->#}
{#                            </li>#}
{#                            <li class="hidden-xs">#}
{#                                <form role="search" class="app-search">#}
{#                                    <input type="text" placeholder="Search..."#}
{#                                           class="form-control">#}
{#                                    <a href=""><i class="fa fa-search"></i></a>#}
{#                                </form>#}
{#                            </li>#}
                        </ul>

                    </div><!-- end container -->
                </div><!-- end navbar -->
            </div>
            <!-- Top Bar End -->


    {% if ep == 'Team lead' %}

            <!-- ========== Left Sidebar Start ========== -->
              <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <!-- User -->
                    <div class="user-box">
                        <div class="user-img">
                            <img src="https://cdn4.iconfinder.com/data/icons/eldorado-user/40/user-512.png" alt="user-img" title="" class="img-circle img-thumbnail img-responsive">
                        </div>
                        <h5><a href="#">
                            {% if user.is_authenticated %}
             <p class="display-4">Hello, {{ user.first_name }} <br> </p>

            {% endif %}


                        </a> </h5>
                        <ul class="list-inline">


                            <li>
                                <span title="Logout">
                                <a href="{% url 'logout' %}" class="text-custom">
                                    <i class="zmdi zmdi-power"></i>
                                </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!-- End User -->

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul>
                             <li class="text-muted menu-title">Navigation</li>
                            <li>
                                <a href="{% url 'home' %}" class="waves-effect"><i class="zmdi zmdi-calendar"></i><span> Calendar </span></a>
                            </li>
                                    <li><a href="{% url 'all-leaves' %}" class="waves-effect"><i class="zmdi zmdi-assignment-alert"></i><span>Leave requests</span></a> </li>
                                    <li><a href="{% url 'leave-requests' %}" class="waves-effect"> <i class="zmdi zmdi-info-outline"></i><span>Applied leave</span> </a></li>

                                    <li><a href="{% url 'holiday-list' %}" class="waves-effect"><i class="zmdi zmdi-view-list-alt"></i><span>Holiday list</span></a> </li>
                                    <li><a href="{% url 'leave-history' %}" class="waves-effect"><i class="zmdi zmdi-time-restore"></i><span>Leave History</span></a></li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- Left Sidebar End -->

    {% elif ep == 'Admin' %}



                  <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <!-- User -->
                    <div class="user-box">
                        <div class="user-img">
                            <img src="https://cdn4.iconfinder.com/data/icons/eldorado-user/40/user-512.png" alt="user-img" title="" class="img-circle img-thumbnail img-responsive">
                        </div>
                        <h5><a href="#">
                            {% if user.is_authenticated %}
             <p class="display-4">Hello, {{ user.first_name }} <br> </p>

            {% endif %}


                        </a> </h5>
                        <ul class="list-inline">


                            <li>
                                <span title="Logout">
                                <a href="{% url 'logout' %}" class="text-custom">
                                    <i class="zmdi zmdi-power"></i>
                                </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!-- End User -->

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul>
                             <li class="text-muted menu-title">Navigation</li>

                            <li>
                                <a href="{% url 'home' %}" class="waves-effect"><i class="zmdi zmdi-calendar"></i><span> Calendar </span></a>
                            </li>
                                    <li><a href="{% url 'leave-requests' %}" class="waves-effect"> <i class="zmdi zmdi-info-outline"></i><span>Applied leave</span> </a></li>

                              <li>
                                <a href="{% url 'all-leaves' %}" class="waves-effect"><i class="zmdi zmdi-assignment-alert"></i><span> Leave requests </span></a>
                            </li>

                              <li>
                                <a href="{% url 'home' %}" class="waves-effect"><i class="zmdi zmdi-calendar"></i><span> Employee database</span></a>
                            </li>
                            <li><a href="{% url 'holiday-list' %}" class="waves-effect"><i class="zmdi zmdi-view-list-alt"></i><span>Holiday list</span></a> </li>





                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- Left Sidebar End -->

     {% else %}

                  <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <!-- User -->
                    <div class="user-box">
                        <div class="user-img">
                                                        <img src="https://cdn4.iconfinder.com/data/icons/eldorado-user/40/user-512.png" alt="user-img" title="" class="img-circle img-thumbnail img-responsive">

                        </div>
                        <h5><a href="#">

             <p class="display-4">Hello, {{ user.first_name }} <br> </p>



                        </a> </h5>
                        <ul class="list-inline">

                            <li>
                                <span title="Logout">
                                <a href="{% url 'logout' %}" class="text-custom">
                                    <i class="zmdi zmdi-power"></i>
                                </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!-- End User -->

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                         <ul>
                              <li class="text-muted menu-title">Navigation</li>


                            <li>
                                <a href="{% url 'home' %}" class="waves-effect"><i class="zmdi zmdi-calendar"></i><span> Calendar </span></a>
                            </li>

                                    <li><a href="{% url 'leave-requests' %}" class="waves-effect"> <i class="zmdi zmdi-info-outline"></i><span>Applied leave</span> </a></li>
                                    <li><a href="{% url 'holiday-list' %}" class="waves-effect"><i class="zmdi zmdi-view-list-alt"></i><span>Holiday list</span></a> </li>

                                   <li><a href="{% url 'leave-history' %}" class="waves-effect"><i class="zmdi zmdi-time-restore"></i><span>Leave History</span></a></li>


                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- Left Sidebar End -->


    {% endif %}



                   <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">



                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">

{#                                    <div class="dropdown pull-right">#}
{#                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">#}
{#                                            <i class="zmdi zmdi-more-vert"></i>#}
{#                                        </a>#}
{#                                        <ul class="dropdown-menu" role="menu">#}
{#                                            <li><a href="#">Action</a></li>#}
{#                                            <li><a href="#">Another action</a></li>#}
{#                                            <li><a href="#">Something else here</a></li>#}
{#                                            <li class="divider"></li>#}
{#                                            <li><a href="#">Separated link</a></li>#}
{#                                        </ul>#}
{#                                    </div>#}

                        			<h4 class="header-title m-t-0 m-b-30">Leave requests</h4>

                                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                         <thead>
                                            <tr>
                                                <th>Emp.Id</th>
{#                                                <th>Applied Date</th>#}
                                                <th>Leave date</th>
                                                <th>Category</th>
                                                <th>Status</th>
                                                <th>Remarks</th>
                                                <th>Cancel Request</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                         {% for i in applied_leaves %}

                                            <tr>
{#                                                    <th scope="row"></th>#}
                                                <td></td>
                                                <td>{{ i.date }}</td>
                                                <td>{{ i.type }}</td>
                                                <td>{{ i.status }}</td>
                                                <td>{{ i.remarks }}</td>

                                                 {% if i.status == 'Cancelled' %}
                                                      <td> Cancellation request placed</td>
                                                {% else %}
                                                     <td><button id="cancel" type="button" ><a href="{% url 'cancel_leave' i.id %}" onclick="alert('Cancel request placed')"> Cancel Request</a></button></td>




                                            </tr>
                                             {% endif %}
                                         {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->




                    </div> <!-- container -->

                </div> <!-- content -->



            </div>

            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

{#<script type="text/javascript">#}
{#    $(document).ready(function(){#}
{#        $("button").click(function(){#}
{##}
{#            $(this).text($(this).text() == 'Cancel req placed' ? 'Cancel leave' : 'Cancel req placed');#}
{#        });#}
{#    });#}
{#</script>#}

{#       <script>#}
{#           $('#cancel').on('click', function() {#}
{#    $(this).prop('disabled', true);#}

{#       </script>#}

   <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
       <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js'%} "></script>
        <script src="{% static 'assets/js/detect.js' %}"> </script>
        <script src="{% static 'assets/js/fastclick.js' %}"></script>
        <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'assets/js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'assets/js/waves.js' %}"></script>
        <script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>


  <!-- Datatables-->
        <script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatables/dataTables.bootstrap.js' %}"></script>
        <script src="{% static 'assets/plugins/datatables/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatables/buttons.bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatables/jszip.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatables/pdfmake.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatables/vfs_fonts.js' %}"></script>
        <script src="{% static 'assets/plugins/datatables/buttons.html5.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatables/buttons.print.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatables/dataTables.fixedHeader.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatables/dataTables.keyTable.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatables/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatables/responsive.bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatables/dataTables.scroller.min.js' %}"></script>

        <!-- Datatable init js -->
        <script src="{% static 'assets/pages/datatables.init.js' %}"></script>



        <!-- App js -->
         <script src="{% static 'assets/js/jquery.core.js' %}"></script>
        <script src="{% static 'assets/js/jquery.app.js' %}"></script>

         <script type="text/javascript">
            $(document).ready(function() {
                $('#datatable').dataTable();
                $('#datatable-keytable').DataTable( { keys: true } );
                $('#datatable-responsive').DataTable();
                $('#datatable-scroller').DataTable( { ajax: "assets/plugins/datatables/json/scroller-demo.json", deferRender: true, scrollY: 380, scrollCollapse: true, scroller: true } );
                var table = $('#datatable-fixed-header').DataTable( { fixedHeader: true } );
            } );
            TableManageButtons.init();

        </script>

</body>
</html>