<!DOCTYPE html>
<html>

         <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <!-- App Favicon -->
         <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <!-- App title -->
        <title></title>
             <!--calendar css-->
        <link href="{% static 'assets/plugins/fullcalendar/dist/fullcalendar.css' %}" rel="stylesheet" />

        <!--datepicker css-->
          <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>

        <!--calendar css-->
        <link href="{% static 'assets/plugins/fullcalendar/dist/fullcalendar.css' %}" rel="stylesheet" />

        <!-- App CSS -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/pages.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/menu.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="{% static 'assets/js/modernizr.min.js' %}"></script>


               <!-- jQuery  -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js'%} "></script>
        <script src="{% static 'assets/js/detect.js' %}"> </script>
        <script src="{% static 'assets/js/fastclick.js' %}"></script>
        <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'assets/js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'assets/js/waves.js' %}"></script>
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>


         <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->


        <!-- App js -->
        <script src="{% static 'assets/js/jquery.core.js' %}"></script>
        <script src="{% static 'assets/js/jquery.app.js' %}"></script>
        <!-- Jquery-Ui -->
        <script src="{% static 'assets/plugins/jquery-ui/jquery-ui.min.js' %}"></script>

        <!-- BEGIN PAGE SCRIPTS -->
        <script src="{% static 'assets/plugins/moment/moment.js' %}"></script>
        <script src="{% static 'assets/plugins/fullcalendar/dist/fullcalendar.min.js' %}"></script>
        <script src="{% static 'assets/pages/jquery.fullcalendar.js' %}"></script>






        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-74137680-1', 'auto');
          ga('send', 'pageview');

        </script>


         <script>
            var resizefunc = [];
        </script>


        <script>
        $(document).ready(function () {
            $('input[id$=datepicker]').datepicker({
                dateFormat: 'dd-mm-yy'
            });
        });
        </script>


        <style>

            #css-serial {
              counter-reset: serial-number;  /* Set the serial number counter to 0 */
            }

            #css-serial td:first-child:before {
              counter-increment: serial-number;  /* Increment the serial number counter */
              content: counter(serial-number);  /* Display the counter */
            }

        </style>


    </head>

    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="index.html" class="logo"><span>Leave<span>Manager</span></span><i class="zmdi zmdi-layers"></i></a>
                </div>

                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation" style="background: transparent;box-shadow: none;">
                    <div class="container">

                        <!-- Page title -->
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <button class="button-menu-mobile open-left">
                                    <i class="zmdi zmdi-menu"></i>
                                </button>
                            </li>
                            <li>
                                <h4 class="page-title"></h4>
                            </li>
                        </ul>


                    </div><!-- end container -->
                </div><!-- end navbar -->
            </div>
            <!-- Top Bar End -->

            {% block main_content %}
    {% endblock %}


        </div>

  <script>
        $('#calendar').fullCalendar({
              events: [
               {
                  title  : 'event',
                  start  : '2018-07-01'
                },
                {
                  title  : 'event2',
                  start  : '2018-07-05',

                },
              ]
            });

        </script>

        <script>
                    var addSerialNumber = function () {
        var i = 1
        $('table tr').each(function(index) {
            $(this).find('td:nth-child(1)').html(index+1);
        });
    };

    addSerialNumber();
        </script>

        <script>
            var resizefunc = [];
        </script>







