<!DOCTYPE html>
<html>

         <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <!-- App Favicon -->
         <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <!-- App title -->
        <title>LeaveManager-Goobits</title>


               <!-- App CSS -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/pages.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/menu.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" type="text/css" />
             <!--calendar css-->
        <link href="{% static 'assets/plugins/fullcalendar/dist/fullcalendar.css' %}" rel="stylesheet" />

        <!--datepicker css-->
          <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>

        <!--calendar css-->
        <link href="{% static 'assets/plugins/fullcalendar/dist/fullcalendar.css' %}" rel="stylesheet" />

        <script src="{% static 'assets/js/modernizr.min.js' %}"></script>


        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-74137680-1', 'auto');
          ga('send', 'pageview');

        </script>


         <script>
            var resizefunc = [];
        </script>


        <script>
        $(document).ready(function () {
            $('input[id$=datepicker]').datepicker({
                dateFormat: 'yy-mm-dd',
                minDate: 0,
            });
        });
        </script>

             <style>

                 .fc-time
                 {
                     display: none;
                 }


             </style>

            <style>
                .fc-day-grid-event > .fc-content {
                        white-space: normal;
                    }


            </style>


    </head>

    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a  class="logo"><span>Leave<span>Manager</span></span><i class="zmdi zmdi-layers"></i></a>
                </div>

                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation" style="background-color:#ffffff;  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
">
                    <div class="container">

                        <!-- Page title -->
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <button class="button-menu-mobile open-left">
                                    <i class="zmdi zmdi-menu"></i>
                                </button>
                            </li>
                            <li>
                                <h4 class="page-title"></h4>
                            </li>
                        </ul>


                    </div><!-- end container -->
                </div><!-- end navbar -->
            </div>
            <!-- Top Bar End -->



            {% if ep == 'Admin'  %}

                  <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <!-- User -->
                    <div class="user-box">
                        <div class="user-img">
                            <img src="https://cdn4.iconfinder.com/data/icons/eldorado-user/40/user-512.png" alt="user-img" title="" class="img-circle img-thumbnail img-responsive">
                        </div>
                        <h5><a href="#">
                            {% if user.is_authenticated %}
             <p class="display-4">Hello, {{ user.first_name }} <br> </p>

            {% endif %}


                        </a> </h5>
                        <ul class="list-inline">


                            <li>
                                <span title="Logout">
                                <a href="{% url 'logout' %}" class="text-custom">
                                    <i class="zmdi zmdi-power"></i>
                                </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!-- End User -->

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul>
                             <li class="text-muted menu-title">Navigation</li>

                            <li>
                                <a href="{% url 'home' %}" class="waves-effect"><i class="zmdi zmdi-calendar"></i><span> Calendar </span></a>
                            </li>
                                    <li><a href="{% url 'leave-requests' %}" class="waves-effect"> <i class="zmdi zmdi-info-outline"></i><span>Applied leave</span> </a></li>

                              <li>
                                <a href="{% url 'all-leaves' %}" class="waves-effect"><i class="zmdi zmdi-assignment-alert"></i><span> Leave requests </span></a>
                            </li>

                              <li>
                                <a href="{% url 'employee-database' %}" class="waves-effect"><i class="zmdi zmdi-calendar"></i><span> Employee database</span></a>
                            </li>
                            <li><a href="{% url 'holiday-list' %}" class="waves-effect"><i class="zmdi zmdi-view-list-alt"></i><span>Holiday list</span></a> </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>


            </div>
            <!-- Left Sidebar End -->


             <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-lg-12">

                                <div class="row">
                                	<div class="col-md-2">
                                        <div class="widget">
                                            <div class="widget-body" style="margin-left: 30px;">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">

{#                                                        <a href="{% url 'leave-application' %}"  class="btn btn-lg btn-success btn-block waves-effect waves-light">#}
                                                        <a href="#" data-toggle="modal" data-target="#add-category" class="btn btn-lg btn-success btn-block waves-effect waves-light">
                                                            <i class="fa fa-plus"></i> Apply leave
                                                        </a>
                                                        <div id="external-events" class="m-t-20">
                                                            <br>
                                                            <p>Notes</p>
{#                                                            <div class="external-event bg-primary" data-class="bg-primary">#}
{#                                                                <i class="fa fa-move"></i>New Theme Release#}
{#                                                            </div>#}
{#                                                            <div class="external-event bg-pink" data-class="bg-pink">#}
{#                                                                <i class="fa fa-move"></i>My Event#}
{#                                                            </div>#}
{#                                                            <div class="external-event bg-warning" data-class="bg-warning">#}
{#                                                                <i class="fa fa-move"></i>Meet manager#}
{#                                                            </div>#}
{#                                                            <div class="external-event bg-purple" data-class="bg-purple">#}
{#                                                                <i class="fa fa-move"></i>Create New theme#}
{#                                                            </div>#}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end col-->
                                    <div class="col-md-10">
                                        <div class="card-box" >
                                            <div id="calendar"></div>
                                        </div>
                                    </div> <!-- end col -->
                                </div>  <!-- end row -->

                                   <!-- BEGIN MODAL -->
                                <div class="modal fade none-border" id="event-modal1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title"><strong>Details</strong></h4>
                                            </div>
                                            <div class="modal-body">
                                                   <div class="row">
                                                        <div class="col-xs-12">
                                                            <label class="col-xs-4" for="title1">Leave Data</label>
                                                            <input type="text" name="title" id="title1" disabled/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <label class="col-xs-4" for="status">Comments</label>
                                                            <input type="text" name="status" id="status1" disabled/>
                                                        </div>
                                                    </div>
{#                                                    <div class="row">#}
{#                                                        <div class="col-xs-12">#}
{#                                                            <label class="col-xs-4" for="ends-at">Ends at</label>#}
{#                                                            <input type="text" name="ends_at" id="ends-at" />#}
{#                                                        </div>#}
{#                                                    </div>#}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
{#                                                <button type="button" class="btn btn-success save-event waves-effect waves-light">Create event</button>#}
{#                                                <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete</button>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal Add Category -->

                                <div class="modal fade none-border" id="add-category">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title"><strong>Apply Leave </strong></h4>
                                            </div>
                                            <div class="modal-body">
                                                 <form  method="POST" action="{% url 'submitleave' %}" id="leavesub">
                                                     {% csrf_token %}

                                                    <div class="row">
                                                        <div class="col-md-6" >
                                                            <label class="control-label">Leave Date</label>
                                                            <input type="text" class="form-control"
                                       value="" id="datepicker"
                                       name="leave-date"  style="background-color: white" required>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input id="Date_From" name="Date_From" />
                                                            <label class="control-label">Choose leave category</label>
                                                            <select id="catSelect" class="form-control form-white" data-placeholder="Choose a color..." name="leave-type" id="Select">
                                                                <option value="Sick leave">Sick leave</option>
                                                                <option value="Casual leave">Casual leave</option>
                                                                <option value="Work from home">Work from home</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
	                                                <label class="col-md-6 control-label">Reason/Remarks</label>
	                                                <div class="col-md-10">
	                                                    <textarea class="form-control" rows="5"  name="leave-remarks"></textarea>
	                                                </div>
                                                    </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger waves-effect waves-light save-category">Submit</button>
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- END MODAL -->
                            </div>
                            <!-- end col-12 -->
                        </div> <!-- end row -->


                    </div> <!-- container -->

                </div> <!-- content -->

            </div>


            {% elif ep == 'Team lead' %}


            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <!-- User -->
                    <div class="user-box">
                        <div class="user-img">
                            <img src="https://cdn4.iconfinder.com/data/icons/eldorado-user/40/user-512.png" alt="user-img" title="" class="img-circle img-thumbnail img-responsive">
                        </div>
                        <h5><a href="#">
                            {% if user.is_authenticated %}
             <p class="display-4">Hello, {{ user.first_name }} <br> </p>



            {% endif %}


                        </a> </h5>
                        <ul class="list-inline">


                            <li>
                                <span title="Logout">
                                <a href="{% url 'logout' %}" class="text-custom">
                                    <i class="zmdi zmdi-power"></i>
                                </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!-- End User -->



                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul>
                            <li class="text-muted menu-title">Navigation</li>


                            <li>
                                <a href="{% url 'home' %}" class="waves-effect"><i class="zmdi zmdi-calendar"></i><span> Calendar </span></a>
                            </li>

                            <li>
                                <a href="{% url 'all-leaves' %}" class="waves-effect"><i class="zmdi zmdi-assignment-alert"></i><span>Leave requests</span></a>
                            </li>
                            <li>
                                <a href="{% url 'leave-requests' %}"  class="waves-effect"> <i class="zmdi zmdi-info-outline"></i><span>Applied leave</span> </a>
                            </li>

                            <li>
                                <a href="{% url 'holiday-list' %}"  class="waves-effect"><i class="zmdi zmdi-view-list-alt" ></i><span>Holiday list</span></a>
                            </li>
                            <li>
                                <a href="{% url 'leave-history' %}"  class="waves-effect"><i class="zmdi zmdi-time-restore"></i><span>Leave History</span></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-lg-12">

                                <div class="row">
                                	<div class="col-md-2">
                                        <div class="widget">
                                            <div class="widget-body" style="margin-left: 30px;">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">



{#                                                        <a href="{% url 'leave-application' %}"  class="btn btn-lg btn-success btn-block waves-effect waves-light">#}
                                                        <a href="#" data-toggle="modal" data-target="#add-category" class="btn btn-lg btn-success btn-block waves-effect waves-light">
                                                            Apply leave
                                                        </a>
                                                    <div id="external-events" class="m-t-20">
                                                            <br>
                                                            <p>Notes</p>
{#                                                            <div class="external-event bg-primary" data-class="bg-primary">#}
{#                                                                <i class="fa fa-move"></i>New Theme Release#}
{#                                                            </div>#}
{#                                                            <div class="external-event bg-pink" data-class="bg-pink">#}
{#                                                                <i class="fa fa-move"></i>My Event#}
{#                                                            </div>#}
{#                                                            <div class="external-event bg-warning" data-class="bg-warning">#}
{#                                                                <i class="fa fa-move"></i>Meet manager#}
{#                                                            </div>#}
{#                                                            <div class="external-event bg-purple" data-class="bg-purple">#}
{#                                                                <i class="fa fa-move"></i>Create New theme#}
{#                                                            </div>#}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div> <!-- end col-->
                                    <div class="col-md-10">
                                        <div class="card-box">
                                            <div id="calendar-tl"></div>
                                        </div>
                                    </div> <!-- end col -->
                                </div>  <!-- end row -->




                                    <!-- BEGIN MODAL -->
                                <div class="modal fade none-border" id="event-modal2">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title"><strong>Details</strong></h4>
                                            </div>
                                            <div class="modal-body">
                                                   <div class="row">
                                                        <div class="col-xs-12">
                                                            <label class="col-xs-4" for="title">Leave Data</label>
                                                            <input type="text" name="title" id="title2" disabled/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <label class="col-xs-4" for="status">Comments</label>
                                                            <input type="text" name="status" id="status2" disabled/>
                                                        </div>
                                                    </div>
{#                                                    <div class="row">#}
{#                                                        <div class="col-xs-12">#}
{#                                                            <label class="col-xs-4" for="ends-at">Ends at</label>#}
{#                                                            <input type="text" name="ends_at" id="ends-at" />#}
{#                                                        </div>#}
{#                                                    </div>#}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
{#                                                <button type="button" class="btn btn-success save-event waves-effect waves-light">Create event</button>#}
{#                                                <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete</button>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal Add Category -->

                                <div class="modal fade none-border" id="add-category">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title"><strong>Apply Leave </strong></h4>
                                            </div>
                                            <div class="modal-body">
                                                 <form role="form" method="post" action="{% url 'submitleave' %}" id="leavesub">
                                                     {% csrf_token %}

                                                    <div class="row">
                                                        <div class="col-md-6" >
                                                            <label class="control-label">Leave Date</label>
                                                            <input type="text" class="form-control"
                                       value="" id="datepicker"
                                       name="leave-date"   style="background-color: white" required>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="control-label">Choose leave category</label>
                                                            <select id="catSelect" class="form-control form-white" data-placeholder="Choose a color..." name="leave-type" required>
                                                                <option value="Sick leave">Sick leave</option>
                                                                <option value="Casual leave">Casual leave</option>
                                                                <option value="Work from home">Work from home</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
	                                                <label class="col-md-6 control-label">Reason/Remarks</label>
	                                                <div class="col-md-10">
	                                                    <textarea class="form-control" rows="5"  name="leave-remarks" required></textarea>
	                                                </div>
                                                    </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                                <button type="submit" onclick="form_submit()" class="btn btn-danger waves-effect waves-light save-category">Submit</button>
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- END MODAL -->
                            </div>
                            <!-- end col-12 -->
                        </div> <!-- end row -->


                    </div> <!-- container -->

                </div> <!-- content -->


            {% else %}


            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <!-- User -->
                    <div class="user-box">
                        <div class="user-img">
                            <img src="https://cdn4.iconfinder.com/data/icons/eldorado-user/40/user-512.png" alt="user-img" title="" class="img-circle img-thumbnail img-responsive">
                        </div>
                        <h5><a href="#">
                            {% if user.is_authenticated %}
             <p class="display-4">Hello, {{ user.first_name }} <br> </p>

            {% endif %}


                        </a> </h5>
                        <ul class="list-inline">


                            <li>
                                <span title="Logout">
                                <a href="{% url 'logout' %}" class="text-custom">
                                    <i class="zmdi zmdi-power"></i>
                                </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!-- End User -->

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul>
                             <li class="text-muted menu-title">Navigation</li>

                            <li>
                                <a href="{% url 'home' %}" class="waves-effect"><i class="zmdi zmdi-calendar"></i><span> Calendar </span></a>
                            </li>

                                    <li>
                                        <a href="{% url 'leave-requests' %}" class="waves-effect"> <i class="zmdi zmdi-info-outline"></i><span>Applied leave</span> </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'holiday-list' %}" class="waves-effect"><i class="zmdi zmdi-view-list-alt"></i><span>Holiday list</span></a>
                                    </li>

                                   <li>
                                       <a href="{% url 'leave-history' %}" class="waves-effect"><i class="zmdi zmdi-time-restore"></i><span>Leave History</span></a>
                                   </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- Left Sidebar End -->
                 <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-lg-12">

                                <div class="row">
                                	<div class="col-md-2">
                                        <div class="widget">
                                            <div class="widget-body" style="margin-left: 30px;">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">



{#                                                        <a href="{% url 'leave-application' %}"  class="btn btn-lg btn-success btn-block waves-effect waves-light">#}
                                                        <a href="#" data-toggle="modal" data-target="#add-category" class="btn btn-lg btn-success btn-block waves-effect waves-light">
                                                            Apply leave
                                                        </a>
                                                           <div id="external-events" class="m-t-20">
                                                            <br>
                                                            <p>Notes</p>
{#                                                            <div class="external-event bg-primary" data-class="bg-primary">#}
{#                                                                <i class="fa fa-move"></i>New Theme Release#}
{#                                                            </div>#}
{#                                                            <div class="external-event bg-pink" data-class="bg-pink">#}
{#                                                                <i class="fa fa-move"></i>My Event#}
{#                                                            </div>#}
{#                                                            <div class="external-event bg-warning" data-class="bg-warning">#}
{#                                                                <i class="fa fa-move"></i>Meet manager#}
{#                                                            </div>#}
{#                                                            <div class="external-event bg-purple" data-class="bg-purple">#}
{#                                                                <i class="fa fa-move"></i>Create New theme#}
{#                                                            </div>#}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end col-->
                                    <div class="col-md-10">
                                        <div class="card-box" >
                                            <div id="calendar-nu"></div>
                                        </div>
                                    </div> <!-- end col -->
                                </div>  <!-- end row -->




                                <!-- BEGIN MODAL -->
                                <div class="modal fade none-border" id="event-modal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title"><strong>Details</strong></h4>
                                            </div>
                                            <div class="modal-body">
                                                   <div class="row">
                                                        <div class="col-xs-12">
                                                            <label class="col-xs-4" for="title">Leave Data</label>
                                                            <input type="text" name="title" id="title" disabled/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <label class="col-xs-4" for="status">Comments</label>
                                                            <input type="text" name="status" id="status" disabled/>
                                                        </div>
                                                    </div>
{#                                                    <div class="row">#}
{#                                                        <div class="col-xs-12">#}
{#                                                            <label class="col-xs-4" for="ends-at">Ends at</label>#}
{#                                                            <input type="text" name="ends_at" id="ends-at" />#}
{#                                                        </div>#}
{#                                                    </div>#}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
{#                                                <button type="button" class="btn btn-success save-event waves-effect waves-light">Create event</button>#}
{#                                                <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete</button>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal Add Category -->

                                <div class="modal fade none-border" id="add-category">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title"><strong>Apply Leave </strong></h4>
                                            </div>
                                            <div class="modal-body">
                                                 <form role="form" method="post" action="{% url 'submitleave' %}" id="leavesub">
                                                     {% csrf_token %}

                                                    <div class="row">
                                                        <div class="col-md-6" id = "l_date" >
                                                            <label class="control-label">Leave Date</label>
                                                            <input  class="form-control"
                                       value="" id="datepicker"
                                       name="leave-date"  style="background-color: white"  required>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="control-label">Choose leave category</label>
                                                            <select id = "catSelect" class="form-control form-white" data-placeholder="Choose a color..." name="leave-type" required>
                                                                <option value="Sick leave">Sick leave</option>
                                                                <option value="Casual leave">Casual leave</option>
                                                                <option value="Work from home">Work from home</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group" >
	                                                <label class="col-md-6 control-label">Reason/Remarks</label>
	                                                <div class="col-md-10" >
	                                                    <textarea  id="remarks" class="form-control" rows="5"  name="leave-remarks" required></textarea>
	                                                </div>
                                                    </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger waves-effect waves-light save-category">Submit</button>
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- END MODAL -->
                            </div>
                            <!-- end col-12 -->
                        </div> <!-- end row -->


                    </div> <!-- container -->

                </div> <!-- content -->



            {% endif %}


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


        </div>


               <!-- jQuery  -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js'%} "></script>
        <script src="{% static 'assets/js/detect.js' %}"> </script>
        <script src="{% static 'assets/js/fastclick.js' %}"></script>
        <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'assets/js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'assets/js/waves.js' %}"></script>
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>


        <!-- App js -->
        <script src="{% static 'assets/js/jquery.core.js' %}"></script>
        <script src="{% static 'assets/js/jquery.app.js' %}"></script>
        <!-- Jquery-Ui -->
        <script src="{% static 'assets/plugins/jquery-ui/jquery-ui.min.js' %}"></script>

        <!-- BEGIN PAGE SCRIPTS -->
        <script src="{% static 'assets/plugins/moment/moment.js' %}"></script>
        <script src="{% static 'assets/plugins/fullcalendar/dist/fullcalendar.min.js' %}"></script>
        <script src="{% static 'assets/pages/jquery.fullcalendar.js' %}"></script>



{#  <script type="text/javascript">#}
{#  function form_submit() {#}
{#    document.getElementById("leavesub").submit();#}
{#   }#}
{#  </script>#}


<script>
    $('#add-category').on('hidden.bs.modal', function() {
$(this)
.find("input,textarea,select")
.val('')
.end()

})

</script>


<script>

$("#datepicker").datepicker();

$('#catSelect').change(function() {
  var option = this.value;
  if (option == 'Casual leave') {
    $("#datepicker").datepicker("option", "minDate", +5);
  } else if (option == 'Work from home') {
    $("#datepicker").datepicker("option", "minDate", +1);
  } else if(option == 'Sick leave'){
      $("#datepicker").datepicker("option", "minDate", 0);

  }
}).change();

</script>


  <script>


       $(document).ready(function() {

        $('#calendar').fullCalendar({

                 events: [

                 {% for l in ld_user %}
              {
                 title  : '{{ l.type }}  - {{ l.status }}',
                 start  : '{{ l.date }}',

               },


                 {% endfor %}
             ],


            eventClick: function(event, element) {
                // Display the modal and set the values to the event values.
                $('#event-modal1').modal('show');
                $('.modal').find('#title').val(event.title);
                $('.modal').find('#status').val({{ l.status }});
                {#$('.modal').find('#starts-at').val(event.start);#}
                {#$('.modal').find('#ends-at').val(event.end);#}

            },
            editable: false,
            eventLimit: true // allow "more" link when too many events

        });


    });

</script>
<script>

         $(document).ready(function() {

        $('#calendar-tl').fullCalendar({

                 events: [

                 {% for l in ld_user %}
              {
                 title  : '{{ l.type }}  - {{ l.status }}',
                 start  : '{{ l.date }}',

               },


                 {% endfor %}
             ],


            eventClick: function(event, element) {
                // Display the modal and set the values to the event values.
                $('#event-modal2').modal('show');
                $('.modal').find('#title').val(event.title);
                $('.modal').find('#status').val({{ l.status }});
                {#$('.modal').find('#starts-at').val(event.start);#}
                {#$('.modal').find('#ends-at').val(event.end);#}

            },
            editable: false,
            eventLimit: true // allow "more" link when too many events

        });


    });



  </script>


   <script>



         $(document).ready(function() {

        $('#calendar-nu').fullCalendar({

                 events: [

                 {% for l in ld_user %}
              {
                 title  : '{{ l.type }}  - {{ l.status }}',
                 start  : '{{ l.date }}',
                 description: '{{ l.admin_comments }}'

               },


                 {% endfor %}
             ],


            eventClick: function(event, element) {
                // Display the modal and set the values to the event values.
                $('#event-modal').modal('show');
                $('.modal').find('#title').val(event.title);
                $('.modal').find('#status').val(event.description);
                {#$('.modal').find('#starts-at').val(event.start);#}
                {#$('.modal').find('#ends-at').val(event.end);#}

            },
            editable: false,
            eventLimit: true // allow "more" link when too many events

        });


    });




  </script>





    </body>
</html>



            <!-- Localized -->