<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">




        <!-- App Favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App title -->
        <title>User Approval</title>

        <!-- App CSS -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/pages.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/menu.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

         <script src="{% static 'assets/js/modernizr.min.js' %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74137680-1', 'auto');
  ga('send', 'pageview');

</script>



        <style>

            #css-serial {
              counter-reset: serial-number;  /* Set the serial number counter to 0 */
            }

            #css-serial td:first-child:before {
              counter-increment: serial-number;  /* Increment the serial number counter */
              content: counter(serial-number);  /* Display the counter */
            }


        </style>
{#        <style>#}
{#        #save ,#delete{#}
{#          background-color: #f4511e;#}
{#          border: none;#}
{#          color: white;#}
{#          padding: 12px 32px;#}
{#          text-align: center;#}
{#          font-size: 12px;#}
{#          margin: 4px 2px;#}
{#          opacity: 0.6;#}
{#          transition: 0.3s;#}
{#          display: inline-block;#}
{#            border-radius: 12px;#}
{#          text-decoration: none;#}
{#          cursor: pointer;#}
{#        }#}
{##}
{#            #save:hover {opacity: 1}#}
{##}
{#            #delete:hover {opacity: 1}#}
{#            </style>#}

        <style>

            th {
    text-align: center;
}

            td {
    text-align: center;
}

        </style>

    </head>

     <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a  class="logo"><span>Leave<span>Manager</span></span><i class="zmdi zmdi-layers"></i></a>
                </div>

                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">

                        <!-- Page title -->
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <button class="button-menu-mobile open-left">
                                    <i class="zmdi zmdi-menu"></i>
                                </button>
                            </li>
                            <li>
                                <h4 class="page-title"></h4>
                            </li>
                        </ul>

                        <!-- Right(Notification and Searchbox -->
                        <ul class="nav navbar-nav navbar-right">

                        </ul>

                    </div><!-- end container -->
                </div><!-- end navbar -->
            </div>
            <!-- Top Bar End -->

        {% if user.is_superuser %}


         <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <!-- User -->
                    <div class="user-box">
                        <div class="user-img">
                            <img src="https://cdn4.iconfinder.com/data/icons/eldorado-user/40/user-512.png" alt="user-img" title="" class="img-circle img-thumbnail img-responsive">
                        </div>
                        <h5><a href="#">

             <p class="display-4">Hello, {{ user.first_name }} <br> </p>




                        </a> </h5>
                        <ul class="list-inline">
{#                            <li>#}
{#                                <a href="#" >#}
{#                                    <i class="zmdi zmdi-settings"></i>#}
{#                                </a>#}
{#                            </li>#}

                            <li>
                                <span title="Logout">
                                <a href="{% url 'logout' %}" class="text-custom">
                                    <i class="zmdi zmdi-power"></i>
                                </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!-- End User -->

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul>
                             <li class="text-muted menu-title">Navigation</li>

                    <li>
                                <a href="{% url 'home' %}" class="waves-effect"><i class="zmdi zmdi-calendar"></i><span> Calendar </span></a>

                                <a href="{% url 'all-leaves' %}" class="waves-effect"><i class="zmdi zmdi-calendar"></i><span> Leave requests </span></a>
                            </li>

                              <li>
                                <a href="{% url 'employee-database' %}" class="waves-effect"><i class="zmdi zmdi-calendar"></i><span> Employee database</span></a>
                            </li>


                            <li><a href="{% url 'holiday-list' %}" class="waves-effect"><i class="zmdi zmdi-view-list-alt"></i><span>Holiday list</span></a> </li>


                            <li>
                                <a href="{% url 'user-approval' %}" class="waves-effect"><i class="zmdi zmdi-calendar"></i><span> User Approval </span></a>
                            </li>


                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- Left Sidebar End -->

            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <div class="row">
							<!-- end col -->

                            <div class="col-lg-12">
								<div class="card-box">

                                    <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>

                        			<h4 class="header-title m-t-0 m-b-30">Pending Approvals</h4>

                                    <p class="text-muted font-13 m-b-15">

                                    </p>

                                    <table class="table table-striped m-0 " id="css-serial">
                                        <thead>
                                            <tr>
                                                <th>Sl.No</th>
                                                <th>Employee Name</th>
                                                <th>Email</th>
                                                <th>Contact</th>
                                                <th>Approved</th>
                                                <th>Profile</th>

                                                <th colspan="2"> Actions   </th>


{#                                                <th>TL -Status</th>#}
{#                                                <th>Emp - Remarks</th>#}
{#                                                <th>Change Status</th>#}

                                            </tr>
                                        </thead>

                                        <tbody>
                                         {% for p in pending_users %}

                                             <form method="post" action="{% url 'approve-user' %}"  onSubmit="alert('User approved')";>

                                                 <input type="text" name="id" value= {{ p.id }} style="display: none"></input>
                                             {% csrf_token %}

                                            <tr>
{#                                                <th scope="row"></th>#}
                                                <td></td>
                                                <td>{{ p.username }}</td>
                                                <td>{{ p.email }}</td>
                                                <td></td>
                                                <td><input type="checkbox" name="approved" required/>&nbsp;</td>
                                                 <td>
                                                     <select  name = "profile" >
                                                     {% for c in profile %}
                                                    <option value={{ c.id }} >{{ c.profile_choices }}</option>
                                                         {% endfor %}
                                                    </select>

                                                 </td>
                                                <td>
                                                <span title="Save">
                                                    <button id="save" class="fa fa-save" type="submit" style="background: transparent;border:none; font-size: 25px"></button>
                                                </span>
                                                </td>
                                                <td>
                                                <span title="Delete request">
                                                    <button id ="delete" class="fa fa-trash-o" style="border:none;background: transparent;font-size: 25px">

                                                    </button>

                                               </span>
                                                </td>
                                            </tr>
                                             </form>
                                         {% endfor %}
                                        </tbody>

                                    </table>

								</div>
							</div><!-- end col -->

						</div>
                       <!-- End row -->
            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->



        </div>
        <!-- END wrapper -->


{% endif %}




        <script>
                    var addSerialNumber = function () {
        var i = 1
        $('table tr').each(function(index) {
            $(this).find('td:nth-child(1)').html(index+1);
        });
    };

    addSerialNumber();
        </script>

        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
       <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js'%} "></script>
        <script src="{% static 'assets/js/detect.js' %}"> </script>
        <script src="{% static 'assets/js/fastclick.js' %}"></script>
        <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'assets/js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'assets/js/waves.js' %}"></script>
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>

        <!-- App js -->
         <script src="{% static 'assets/js/jquery.core.js' %}"></script>
        <script src="{% static 'assets/js/jquery.app.js' %}"></script>

